spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/restaurantconnect
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update

logging:
  level:
    org.hibernate.SQL: DEBUG
