spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/restaurantconnect
    username: postgres
    password: maelis
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: false
  sql:
    init:
      mode: always
      platform: postgresql
      encoding: UTF-8

server:
  port: 8080

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
